{% extends "base.html" %}
{% block title %}Know Your Leaders{% endblock %}
{%block extrahead %}{% endblock %}

{% block content %}
{% load staticfiles %}
 {% if messages %}
        <center>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </center>
 {% endif %}
   
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

 <a class="twitter-timeline" href="https://twitter.com/narendramodi" data-widget-id="719128267987374080">Tweets by @narendramodi</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-page" data-href="https://www.facebook.com/narendramodi/" data-tabs="timeline" data-width="450" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/narendramodi/"><a href="https://www.facebook.com/narendramodi/">Narendra Modi</a></blockquote></div></div>
 <!--/start-footer-section-->
{% endblock %}